.monthly-payment-container {
  width: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid lightgrey;
  background-color: white;
}

.modal-header {
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
  text-align: center;
}

.modal-btn-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: #accdff;
}