.filtered-transactions-container {
  list-style: none;
  padding: 0;
}

.filtered-transaction {
  border: 1px solid lightgrey;
  border-radius: 5px;
  overflow: hidden;
  margin: 0;
  margin-bottom: 12px;
}

.filtered-transaction-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: rgb(236, 236, 236);
}

.filtered-transaction-header p {
  margin: 0;
}

.filtered-transaction .payment {
  margin: 4px;
  border: none;
  border-bottom: 1px solid lightgrey;
  border-radius: 0;
}

.filtered-transaction .payment:last-child {
  border-bottom: none;
}

.filtered-transaction-header .payment-pill {
  background-color: transparent;
  color: rgb(36, 36, 36);
  width: fit-content;
  font-weight: 500;
  font-size: .9rem;
}

.filtered-transaction .payments .payment-pill {
  font-size: .7rem;
}