.card {
  width: 100%;
  min-height: 100%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 1px 1px 12px lightgrey;
}

.heading {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 5px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header {
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}