.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 20px;
  border-bottom: 1px solid lightgrey;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.user-name {
  font-weight: 500;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu:hover {
  transform: scale(1.1);
}

.logout-btn {
  color: red;
  font-size: .9rem;
  transition: .2s ease all;
  font-weight: 500;
}

.logout-btn:hover {
  transform: scale(1.02);
}

.mobile-view-navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media only screen and (max-width:768px) {
  .logout-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    border: none;
    background: transparent;
    transition: .2s ease all;
  }


  .logout-btn:hover {
    transform: scale(1.1);
  }
}