.dashboard {
  padding: 20px;
  position: relative;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.one-third-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.two-third-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.transaction-summary-container .content-container {
  height: 300px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dashboard-btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-entry-btn {
  background-color: transparent;
  border: 1px solid #889ce5;
  padding: 8px 12px;
  border-radius: 4px;
  transition: .3s ease all;
  cursor: pointer;
}

.add-entry-btn:hover {
  background-color: #adbbf0;
}

.modal-container {
  position: fixed;
  inset: 0;
  /* top:0 right:0 bottom:0 left:0 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Dark + blur background */
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(8px);
  /* main blur */
  -webkit-backdrop-filter: blur(8px);
  /* Safari support */
  z-index: 1000;
}

.content-container {
  height: 200px;
  overflow-y: auto;
  /* or scroll */
  /* Firefox */
  scrollbar-width: none;
  /* IE / old Edge */
  -ms-overflow-style: none;
}

/* Chrome, Safari, Edge (Chromium) */
.content-container::-webkit-scrollbar {
  display: none;
}

.payments {
  margin: 0;
  padding: 0;
  list-style: none;
}

.payment {
  padding: 5px 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-name {
  font-size: .9rem;
  font-weight: 600;
  margin: 0;
}

.payment-pill {
  width: 80px;
  margin: 0;
  font-size: .8rem;
  padding: 2px;
  border-radius: 99px;
  background-color: #848fff;
  text-align: center;
  color: white;
}

.payment-subtext {
  font-size: .7rem;
  font-style: italic;
  margin: 0;
}

.payment-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.payment-field-right {
  align-items: flex-end;
}

@media only screen and (max-width: 768px) {
  .dashboard-btn-group {
    width: 100%;
    justify-content: space-evenly;
  }

  .add-entry-btn {
    padding: 4px 8px;
    font-size: .9rem;
  }

  .card-container {
    flex-direction: column;
  }
}