.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.login-form {
  border-radius: 10px;
  padding: 40px;
  padding-top: 100px;
  box-shadow: 0px 0px 20px grey;
  width: 500px;
  position: relative;
}

.login-btn {
  margin-top: 10px;
  width: 100%;
  background-color: #accdff;
}

.login-btn:hover {
  background-color: #8fbcff;
}

.btn-group {
  width: 100%;
  padding: 0px 40px;
  display: flex;
  position: absolute;
  left: 0;
  top: 20px;
  gap: 0;
}

.tab-btn {
  flex: 1;
  padding: 12px 0;
  border: none;
  border-bottom: 1px solid lightgrey;
  outline: none;
  font-weight: 600;
  color: #333;
  font-size: 1rem;
  transition: 0.3s ease;
}

.tab-btn:first-child {
  border-right: 1px solid lightgrey;
}

.tab-btn:last-child {
  border-left: 1px solid lightgrey;
}

.tab-btn.active {
  background: white;
  border-bottom: none;
  color: #3d73c3;
  border-left: none;
  border-right: none;
  border-top: 1px solid lightgrey;
}

.tab-switch-text {
  font-size: .8rem;
  text-align: right;
  margin-top: 20px;
}