* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

.btn {
  background-color: transparent;
  border: 1px solid lightgrey;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 600;
}

.input-field {
  margin-bottom: 16px;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.input-field label {
  font-size: .9rem;
  margin-bottom: 5px;
}

.input-field input {
  border-radius: 3px;
  border: 1px solid lightgrey;
  padding: 8px 8px;
}

.btn-link {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(19, 129, 255);
}